<html>
<head>
<title>fragment_faq.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
fragment_faq.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">ScrollView </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#ffffff&quot;</span>
        <span class="s1">tools:context</span><span class="s3">=&quot;fragment.FaqFragment&quot;</span>&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;25dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/q1_how_will_the_food_be_deliverd&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#ff4500&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;25dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/ans1_the_food_will_be_delivered_by_our_delivery_man_at_the_address_given_by_you&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;25dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/q2_how_much_time_will_it_take_to_deliver_the_food&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#ff4500&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;25dp&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/our_delivery_man_will_try_to_deliver_your_order_as_fast_as_he_can_but_in_case_of_traffic_or_some_other_reasons_it_might_take_a_little_longer&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s3">=&quot;10dp&quot;</span>/&gt;



    &lt;/<span class="s4">LinearLayout</span>&gt;
&lt;/<span class="s4">ScrollView</span>&gt;</pre>
</body>
</html>