<html>
<head>
<title>recycler_cart_single_row.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
recycler_cart_single_row.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">androidx.cardview.widget.CardView </span><span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:background</span><span class="s3">=&quot;#ffffff&quot;</span>
    <span class="s1">app:cardCornerRadius</span><span class="s3">=&quot;4dp&quot;</span>
    <span class="s1">android:layout_margin</span><span class="s3">=&quot;6dp&quot;</span>&gt;

    &lt;<span class="s4">RelativeLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/txtLogo&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;-&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;40sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#ff5039&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s3">=&quot;5dp&quot;</span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/txtDishName&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/dish_name&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;18dp&quot;</span>
            <span class="s1">android:layout_toRightOf</span><span class="s3">=&quot;@id/txtLogo&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s3">=&quot;10dp&quot;</span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/txtCost&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;@string/rs_400&quot;</span>
            <span class="s1">android:layout_alignParentRight</span><span class="s3">=&quot;true&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;18dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;17dp&quot;</span>
            <span class="s1">android:layout_marginHorizontal</span><span class="s3">=&quot;10dp&quot;</span>/&gt;
    &lt;/<span class="s4">RelativeLayout</span>&gt;


&lt;/<span class="s4">androidx.cardview.widget.CardView</span>&gt;</pre>
</body>
</html>